*{
    margin: 0;
    padding: 0;
}

/*----------------------------------------------------------------------------------*/
/*TYPEFACES-------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/

@font-face {
    font-family: 'inter-regular';
    src: url();
}
@font-face {
    font-family: 'inter-medium';
    src: url();
}
@font-face {
    font-family: 'inter-semi';
    src: url();
}
@font-face {
    font-family: 'inter-bold';
    src: url();
}

/*----------------------------------------------------------------------------------*/
/*GENERAL---------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*MENU------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*TYPEFACES-------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*TYPEFACES-------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*TYPEFACES-------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*TYPEFACES-------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/