*{
    margin: 0;
    padding: 0;
}

/*----------------------------------------------------------------------------------*/
/*TYPEFACES-------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/

@font-face {
    font-family: 'inter-regular';
    src: url(Fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: 'inter-medium';
    src: url(Fonts/Inter-Medium.ttf);
}
@font-face {
    font-family: 'inter-semi';
    src: url(Fonts/Inter-SemiBold.ttf);
}
@font-face {
    font-family: 'inter-bold';
    src: url(Fonts/Inter-Bold.ttf);
}

/*----------------------------------------------------------------------------------*/
/*GENERAL---------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/

body{
    font-family: inter-regular;
}
/*----------------------------------------------------------------------------------*/
/*MENU------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/

header{
    z-index: 3;
    position: absolute;
    top: 20px;
    left: 20px;
}
.homebtn{
    color: #000000;
    font-family: inter-medium;
    text-decoration: none;
}
.homebtn mark{
    background: none;

    color: #FF6B00;
    font-family: inter-semi;
    font-size: 1.3em;
}
/*----------------------------------------------------------------------------------*/
/*TYPEFACES-------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*TYPEFACES-------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*TYPEFACES-------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*TYPEFACES-------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/